
body
{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
}   
.area-login{
    color: black;
    margin: 2px;
    text-decoration: none;
}
ul
{
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
background: rgb(0, 0, 0);
border-radius: 30px;
overflow: hidden;
box-shadow: 0 0 0 5px #333;
margin: 0;
padding: 0;
}
ul li
{
list-style: none;
width: 150px;
}
ul li.active
{
    background: #fff;
}
ul li a 
{
display: 50%;
padding: 20px;
text-align: center;
color: #fff;
transition: 0.5s;
text-decoration: none;
}
ul li.active a
{
    color: #262626;
}

.slide-filtro
{
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
}
ul li:nth-child(1).active ~ .slide-filtro
{
left: 0;
opacity: 1;

}
ul li:nth-child(2).active ~ .slide-filtro
{
left: 150px;
opacity: 1;

}
ul li:nth-child(3).active ~ .slide-filtro
{
left: 300px;
opacity: 1;

}
ul li:nth-child(4).active ~ .slide-filtro
{
left: 450px;
opacity: 1;

}
ul li:nth-child(5).active ~ .slide-filtro
{
left: 600px;
opacity: 1;

}
